<i class="fa-regular fa-user"></i> {{this.nom}}

<form [formGroup]="myForm">
  <h2 > Inscription </h2>
  <div class="input">

    <!-- Nom  -->
    <label  > NOM </label>
    <br>
    <input  [(ngModel)]="this.nom" formControlName ='Nom'>
     <div *ngIf="myForm.get('Nom')?.invalid && myForm.get('Nom')?.touched">
        <small [ngStyle]="{color:getcolor()}" *ngIf="myForm.get('Nom')?.errors?.['required']">Le nom est requis.</small>
     </div>

    <!-- Mail   -->
  <div>

    <label> mail </label>
    <br>
    <input  formControlName="email">
<div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
        <small [ngStyle]="{color:getcolor()}" *ngIf="myForm.get('email')?.errors?.['required']">L'email est requis.</small>
        <small [ngStyle]="{color:getcolor()}" *ngIf="myForm.get('email')?.errors?.['email']">Email invalide.</small>
      </div>
    </div>

  </div>


      <!-- | Messages |   -->
<div>
  <label> Messages </label>
  <br>
      <textarea formControlName="message">  </textarea>
        <div *ngIf="myForm.get('message')?.invalid && myForm.get('message')?.touched">
              <small [ngStyle]="{color:getcolor()}" *ngIf="myForm.get('message')?.errors?.['maxlength']">maximum 300 caratere .</small>
      </div>
      </div>
  <button [ngStyle]="{color:getcolor()}" [ngStyle]="{background : color()}" type="submit" (click)="sucsee()" [disabled]="myForm.invalid">Envoyer</button>
</form>

